Repository ibutsu/ibutsu-server, pull requests merged in 2020-11, with the labels that each got.

#85 Allow filtering by JSON run summary fields
  backend/ibutsu_server/filters.py
Labels: bug

#90 Fix loading of result component
  frontend/src/components/result.js
Labels: bug, frontend

#94 Fix result tree page crash on junit imported run
  backend/ibutsu_server/tasks/importers.py
  frontend/src/utilities.js
Labels: bug

#91 Add xfail/xpass to widget calculations
  backend/ibutsu_server/widgets/jenkins_heatmap.py
  backend/ibutsu_server/widgets/jenkins_job_analysis.py
  backend/ibutsu_server/widgets/jenkins_job_view.py
  backend/ibutsu_server/widgets/result_summary.py
  backend/ibutsu_server/widgets/run_aggregator.py
  frontend/src/components/classify-failures.js
  frontend/src/views/jenkinsjobanalysis.js
  frontend/src/widgets/genericbar.js
  frontend/src/widgets/resultsummary.js
Labels: enhancement

#87 Allow for updating the metadata of multiple runs at a time and display annotations in heatmap
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/controllers/run_controller.py
  backend/ibutsu_server/openapi/openapi.yaml
  backend/ibutsu_server/widgets/jenkins_heatmap.py
  frontend/src/widgets/jenkinsheatmap.js
Labels: backend, enhancement, frontend

#97 Release 1.11.4
  backend/ibutsu_server/openapi/openapi.yaml
  backend/setup.py
  frontend/package.json
Labels: release

#95 Prepare for configurable dashboards
  backend/ibutsu_server/__init__.py
  backend/ibutsu_server/auth.py
  backend/ibutsu_server/db/base.py
  backend/ibutsu_server/db/models.py
  backend/ibutsu_server/db/upgrades.py
  backend/setup.py
Labels: backend

#96 Build a new dashboard API
  backend/ibutsu_server/controllers/dashboard_controller.py
  backend/ibutsu_server/openapi/openapi.yaml
Labels: backend
