Repository ibutsu/ibutsu-server, pull requests merged in 2020-12, with the labels that each got.

#105 Add custom filters for some widgets
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/jenkins_heatmap.py
  backend/ibutsu_server/widgets/result_aggregator.py
  backend/ibutsu_server/widgets/result_summary.py
  backend/ibutsu_server/widgets/run_aggregator.py
Labels: backend

#106 Add default, required key value pairs to widget params
  backend/ibutsu_server/constants.py
  frontend/src/components/new-widget-wizard.js
Labels: enhancement

#112 Add delete dashboard button
  frontend/src/components/delete-dashboard-modal.js
  frontend/src/components/index.js
  frontend/src/dashboard.js
Labels: frontend

#113 Add a button for deleting a single widget from a dashboard
  frontend/src/components/delete-modal.js
  frontend/src/components/index.js
  frontend/src/components/widget-components.js
  frontend/src/dashboard.js
  frontend/src/widgets/genericarea.js
  frontend/src/widgets/genericbar.js
  frontend/src/widgets/jenkinsheatmap.js
  frontend/src/widgets/resultaggregator.js
  frontend/src/widgets/resultsummary.js
Labels: frontend

#107 Add filter docs and make some small updates
  README.md
  backend/ibutsu_server/constants.py
  docs/source/developer-guide/getting-started.rst
  docs/source/examples/okd-template.rst
  docs/source/index.rst
  docs/source/user-guide/filter-help.rst
  frontend/src/components/new-widget-wizard.js
  frontend/src/report-builder.js
Labels: documentation

#114 Remove reference to MongoDB in docs
  docs/source/developer-guide/getting-started.rst
Labels: documentation

#116 Pass project along with file when importing via the UI (closes #110)
  frontend/src/app.js
  frontend/src/components/fileupload.js
Labels: bug, frontend

#118 Update API spec to allow null values in Runs
  backend/ibutsu_server/openapi/openapi.yaml
Labels: backend, bug

#115 Remember tab + updates
  frontend/src/app.css
  frontend/src/components/result.js
  frontend/src/result.js
  frontend/src/run.js
  frontend/src/views/jenkinsjobanalysis.js
  frontend/yarn.lock
Labels: enhancement, frontend

#119 Release 1.12.1
  CHANGELOG.md
  backend/ibutsu_server/openapi/openapi.yaml
  backend/setup.py
  frontend/package.json
Labels: release
