Repository ibutsu/ibutsu-server, pull requests merged in 2021-12, with the labels that each got.

#251 Add a task for adding users/project owners
  backend/ibutsu_server/tasks/db.py
Labels: enhancement, backend

#257 Fix small FE bug on user profile page
  frontend/src/user-profile.js
Labels: bug, frontend

#265 Add build_deploy script for App-SRE builds
  backend/docker/Dockerfile.monitor
  build_deploy.sh
Labels: deployment

#270 Fix keycloak login
  frontend/src/services/keycloak.js
Labels: bug, frontend
