Repository ibutsu/ibutsu-server, pull requests merged in 2024-11, with the labels that each got.

#523 Enable project routing in widgets URLs
  frontend/src/widgets/filterheatmap.js
  frontend/src/widgets/importancecomponent.js
Labels: bug, frontend, javascript

#527 Automated release commit for 2.5.9
  CHANGELOG.md
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Labels: release

#528 Fix run filtering and apply filters to report buttons
  frontend/src/result-list.js
  frontend/src/run-list.js
  scripts/ibutsu-pod.sh
Labels: bug, frontend

#529 v2.5.10 release
  CHANGELOG.md
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Labels: release

#530 Fix filterheatmap URL composition for view
  frontend/src/widgets/filterheatmap.js
Labels: bug, frontend

#524 Add count_skips field to Importance by Component widget
  backend/ibutsu_server/constants.py
  backend/ibutsu_server/widgets/importance_component.py
  frontend/src/widgets/importancecomponent.js
Labels: enhancement, frontend

#531 Update to v2.5.11
  CHANGELOG.md
  backend/ibutsu_server/openapi/openapi.yaml
  backend/pyproject.toml
  frontend/package.json
Labels: release

#533 Fix bug with dashboard selection on back nav
  frontend/src/dashboard.js
Labels: bug, frontend

#532 Update yarn.lock
  frontend/yarn.lock
Labels: frontend, dependencies
