Repository ibutsu/ibutsu-server, pull requests merged in 2025-03, with the labels that each got.

#588 Convert JenkinsJob View
  frontend/src/components/view.js
  frontend/src/views/compareruns.js
  frontend/src/views/index.js
  frontend/src/views/jenkinsjob.js
Labels: enhancement, frontend

#591 Convert GenericArea Widget
  frontend/src/dashboard.js
  frontend/src/report-builder.js
  frontend/src/views/jenkinsjobanalysis.js
  frontend/src/widgets/genericarea.js
  frontend/src/widgets/index.js
Labels: enhancement, frontend

#589 Convert Jenkins Job Analysis view
  frontend/src/app.js
  frontend/src/components/view.js
  frontend/src/views/accessibilityanalysis.js
  frontend/src/views/accessibilitydashboard.js
  frontend/src/views/index.js
  frontend/src/views/jenkinsjobanalysis.js
Labels: enhancement, frontend

#600 React pattern updates, 2
  frontend/src/components/delete-modal.js
  frontend/src/components/edit-widget-modal.js
  frontend/src/components/new-dashboard-modal.js
  frontend/src/components/new-widget-wizard.js
Labels: enhancement, frontend

#602 Convert RunList to functional
  frontend/src/app.js
  frontend/src/run-list.js
Labels: enhancement, frontend

#606 Replace react-json with patternfly codeeditor
  frontend/package.json
  frontend/src/components/result.js
  frontend/src/run.js
  frontend/src/views/accessibilityanalysis.js
  frontend/yarn.lock
Labels: bug

#613 fix(IQE-3448): Show loading state when accessing the Run's details page
  frontend/src/result.js
Labels: bug, frontend

#612 fix(IQE-3443): Apply current selection to the Dashboard selector
  frontend/src/dashboard.js
Labels: bug, frontend

#614 fix(IQE-3467): Remove infinite cycle of fetching test results
  frontend/src/run.js
Labels: bug, frontend
