Repository ibutsu/ibutsu-server, pull requests merged in 2025-04, with the labels that each got.

#617 Fix results table visual bugs
  frontend/src/result-list.js
Labels: bug, frontend

#620 fix(IQE-3454): Enable scrolling of dropdowns on Edit Project page
  frontend/src/pages/admin/project-edit.js
Labels: bug, enhancement, frontend

#621 Custom useTabHook for Tab Navigation
  frontend/src/components/classify-failures.js
  frontend/src/components/fileupload.js
  frontend/src/components/ibutsu-header.js
  frontend/src/components/last-passed.js
  frontend/src/components/result.js
  frontend/src/components/tabHook.js
  frontend/src/result.js
  frontend/src/run-list.js
  frontend/src/run.js
  frontend/src/utilities.js
  frontend/src/views/jenkinsjobanalysis.js
  frontend/src/widgets/filterheatmap.js
Labels: bug, frontend

#623 Create useUserFilter, Update Table Patterns on Admin UserList
  frontend/src/components/user-filter.js
  frontend/src/components/user-row.js
  frontend/src/constants.js
  frontend/src/pages/admin/user-list.js
Labels: bug, enhancement, frontend

#627 Tab Hashing on TestHistoryTable
  frontend/src/components/classify-failures.js
  frontend/src/components/download-button.js
  frontend/src/components/empty-object.js
  frontend/src/components/fileupload.js
  frontend/src/components/filtertable.js
  frontend/src/components/last-passed.js
  frontend/src/components/metafilter.js
  frontend/src/components/multivalueinput.js
  frontend/src/components/param-dropdown.js
  frontend/src/components/result.js
  frontend/src/components/runsummary.js
  frontend/src/components/tabHook.js
  frontend/src/components/tablestates.js
  frontend/src/components/tabs.js
  frontend/src/components/test-history.js
  frontend/src/components/widget-header.js
  frontend/src/run.js
  frontend/src/views/accessibilityanalysis.js
  frontend/src/views/accessibilitydashboard.js
  frontend/src/views/jenkinsjob.js
  frontend/src/views/jenkinsjobanalysis.js
  frontend/src/widgets/filterheatmap.js
  frontend/src/widgets/genericarea.js
  frontend/src/widgets/genericbar.js
  frontend/src/widgets/importancecomponent.js
  frontend/src/widgets/resultaggregator.js
  frontend/src/widgets/resultsummary.js
Labels: enhancement, frontend
