Repository ibutsu/ibutsu-server, pull requests merged in 2025-01, with the labels that each got.

#534 Convert dashboard to functional
  frontend/eslint.config.mjs
  frontend/src/app.js
  frontend/src/components/ibutsu-header.js
  frontend/src/components/sidebar.js
  frontend/src/components/user-dropdown.js
  frontend/src/dashboard.js
  frontend/src/login.js
  frontend/src/services/context.js
Labels: enhancement, frontend

#535 Convert IbutsuHeader to functional component
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/src/app.js
  frontend/src/app.test.js
  frontend/src/components/FileUpload.spec.cy.js
  frontend/src/components/admin-page.js
  frontend/src/components/fileupload.js
  frontend/src/components/ibutsu-header.js
  frontend/src/components/ibutsu-page.js
  frontend/src/components/index.js
  frontend/src/components/profile-page.js
  frontend/src/components/result.js
  frontend/src/components/toast-wrapper.js
  frontend/src/constants.js
  frontend/src/dashboard.js
  frontend/src/index.js
  frontend/src/pages/profile/tokens.js
  frontend/src/pages/profile/user.js
  frontend/src/run.js
  frontend/src/services/context.js
  frontend/src/utilities.js
  frontend/yarn.lock
Labels: enhancement, frontend

#540 FileUpload React functional conversion
  frontend/package.json
  frontend/src/components/FileUpload.spec.cy.js
  frontend/src/components/fileupload.js
  frontend/src/components/ibutsu-header.js
  frontend/src/components/index.js
  frontend/src/components/toast-wrapper.js
Labels: enhancement, frontend

#541 Sidebar useEffect conversion
  frontend/src/components/sidebar.js
Labels: bug, frontend

#542 Convert ReportBuilder to functional
  frontend/src/app.js
  frontend/src/report-builder.js
Labels: enhancement, frontend

#544 Convert FilterTable and MetaTable
  frontend/src/components/filtertable.js
Labels: enhancement, frontend

#545 Convert AddTokenModal and DeleteModal to functional
  frontend/src/components/add-token-modal.js
  frontend/src/components/delete-modal.js
  frontend/src/components/index.js
  frontend/src/dashboard.js
  frontend/src/pages/profile/tokens.js
Labels: enhancement, frontend

#543 Convert UserDropdown to Functional
  frontend/src/components/ibutsu-header.js
  frontend/src/components/index.js
  frontend/src/components/user-dropdown.js
Labels: frontend
